<html>
    <body>

        <!--Here we will write accuracy scores for all 12 models in h1-->
        <h1>Accuracy Scores</h1>

        <h1>Accuracy for Linear Regression Model is {{linea_reg}} </h1>
        <h1>Accuracy for Decision Tree Model is {{de_tree}} </h1>
        <h1>Accuracy for Random Forest Model is {{rando}} </h1>
        <h1>Accuracy for Ridge Regreesion model is {{ridg_reg}} </h1>
        <h1>Accuracy for Lasso Regression model is {{lass_reg}} </h1>
        <h1>Accuracy for Elastic Net Regression model is {{elasti_reg}} </h1>
        <h1>Accuracy for Decision Tree Regression model is {{de_tree_reg}} </h1>
        <h1>Accuracy for Logistic Regression model is {{lo_reg}} </h1>
        <h1>Accuracy for Support vector Classifier model is {{suppor_vec}} </h1>
        <h1>Accuracy for Support vector Regression model is {{suppor_vec_reg}} </h1>
        <h1>Accuracy for Naive Bais model is {{naiv}} </h1>
        <h1>Accuracy for Adaboos Regression model is {{adaboos}} </h1>

        <h1>Maximum Accuracy is for {{x}} for Random Forest</h1>

        


        


        
       
        <button onclick = "goBack()"><a href = "/" >Next</a></button>

        

        <script>function goBack() {
            window.history.back();
          }
        </script>
    </body>

    
    
</html>